@charset "utf-8";
/* CSS Document */
html,body{
margin:0px;
padding: 0;
height:100%;
font-family: 'montserrat',Arial, sans-serif;
text-align:justify;
color:#6C6C6C;
font-weight: normal;
font-size:14px
}

a {text-decoration: none;}
h1,h2,h3 {font-family: 'montserrat',Arial, sans-serif;}
h1 {font-size: 35px; color: black; margin-bottom: 0;}
h2 {font-size: 30px; color: #2465b1; margin: 0;}
h3 {font-size: 35px; color: black;}
strong {font-style: italic}
.w3-button:hover{background-color:#E9953F!important; color:#fff!important; }
.w3-button{transition-duration:0.5s}
.aviso{ font-weight:bold; text-align:center; margin:auto}
table{border-spacing: 0;}
th, td {
    padding: 0px; border-collapse: collapse;
}

hr{ border:#333 solid 1px;}

.cuerpo{ margin:auto; min-height:300px;}
.contenido{
	max-width:1200px;
	margin:10px auto; padding:0 14px
}

.activo {
	border-bottom: 2px solid white!important;
}

.escribenos {
	background-color: white;
	bottom: 30px;
	border-radius: 5px;
	color: #73c56f;
	padding: 10px 15px;
	padding-left: 20px;
	position: fixed;
	right: 30px;
	z-index: 10;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}

.fazul {background-color: #2465b1}
.txtazul {color: #2465b1}
.txtblanco {color: white;}

.escribenos img {
	filter: drop-shadow(0.5px 0.5px 1.5px gray);
	left: -15px;
	top: 6px;
	width: 30px;
	-webkit-filter: drop-shadow(0.5px 0.5px 1.5px gray);
}

.btn {
	background-color: #2465b1;
	border: none;
	border-radius: 17px;
	color: white;
	cursor: pointer;
	display: inline-block;
	font-weight: bold;
	padding: 7px;
	margin-top: 20px;
	text-align: center;
	width: 200px;
	-webkit-border-radius: 17px;
	-moz-border-radius: 17px;
	-ms-border-radius: 17px;
	-o-border-radius: 17px;
}

.flotante {
	position: absolute;
	margin: 0
}

header nav {
	background-color: rgb(0, 0, 0, 0.7);
}

header nav .contenido {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	gap: 5px 74px;
	margin: 0 auto;
}

header .w3-bar .w3-bar-item {
	padding: 0
}

header .contactos .w3-right {
	display: flex;
	font-weight: bold;
	flex-wrap: wrap;
	gap: 0 40px;
	justify-content: flex-end;
	margin-bottom: 10px
}

header nav img {
	margin: 20px 0;
	width: 150px
}

footer {
	font-size: 20px;
	padding: 50px
}

#productos, #capacitacion, #centro-capacitacion {
	margin: 30px 0 50px;
}

#frase {
	margin: 80px auto;
}

#productos strong {
	color: black;
}

#capacitacion .w3-row img {
	width: 200px;
}

#paralax {
	background-color: aliceblue; 
	font-size: 100px;
	height:400px; 
	position:relative
}

#cuadro-rojo {
	background-color:red;
	font-size: 50px;
	height: 400px; 
}

#centro-capacitacion .mitadizq {
	border-right: 1px solid;
}

#paquetes {
	background-color: #f3f3f3;
	padding: 80px 0
}

#paquetes .w3-third div {
	border:1px solid #6C6C6C;
	padding: 20px 15px;
	position: relative;
	width:100%
}

#paquetes .w3-third div a {
	bottom: -18px;
	right: 50%;
	transform: translateX(50%);
	-webkit-transform: translateX(50%);
	-moz-transform: translateX(50%);
	-ms-transform: translateX(50%);
	-o-transform: translateX(50%);
}

#paquetes .w3-third span {
	border-bottom: 1px solid #6C6C6C;
	display: block;
	padding: 5px 10px;
}

#paquetes .w3-third span:last-of-type {
	border: none;
	padding-bottom: 30px
}

#ventas form {
	max-width: 1000px;
}

#ventas form .w3-row {
	margin-bottom: 20px;
}

#ventas .w3-half input {
	display: block;
	margin-bottom: 10px;
	padding: 7px 15px;
	width: 100%
}

#ventas .checkboxs {
	max-width: 220px;
	margin: auto;
}

#ventas .lnazul {
	height: 2px;
	background-color: #2465b1;
	position: relative;
	margin: 30px 0 50px;
}

#ventas .lnazul .btn {
	top: -18px;
	right: 50%;
	transform: translateX(50%);
	-webkit-transform: translateX(50%);
	-moz-transform: translateX(50%);
	-ms-transform: translateX(50%);
	-o-transform: translateX(50%);
}


@media only screen and (min-width:601px){
	.cflex{display: -webkit-flex; /* Safari */
		display: flex;}
}
.mitadder{
	padding-left:10px;
}
.mitadizq{
	padding-right:10px;
}
.mitadcentro{
	padding:0 5px
}
.mitad{width:50%; float:left}
@media only screen and (max-width:600px){
	.cuerpo{
		margin:0 10px
	}
	.contenido{
		margin:10px 10px
	}
	.mitadder{
		margin-top:1.5em; padding-left:0
	}
	.mitadizq{
		padding-right:0
	}
	.mitadcentro{
		margin-top:1.5em; padding-right:0; padding-left:0}
	.centrar-small{ text-align:center!important}
	h1{ font-size:25px}
	h2{ font-size:20px}
	h3{ font-size:18px}
	
}
.imgmax{
	max-width:100%; margin:auto
}
.margensupinf{margin:56px auto}
.margensup{margin-top:56px}

.icored{
	vertical-align:bottom; width:21px; margin:auto 5px!important
}
.redondeado{border-radius: 6px;}
@media only screen and (max-width:600px){
	.icored{
		width:16px; padding-top: 10px;
	}
}


@font-face {
    font-family: 'montserrat';
    src: url('fuentes/montserrat-regular.woff2') format('woff2'),
		 url('fuentes/montserrat-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat';
    src: url('fuentes/montserrat-semibold.woff2') format('woff2'),
		 url('fuentes/montserrat-semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat';
    src: url('fuentes/montserrat-bold.woff2') format('woff2'),
		 url('fuentes/montserrat-bold.woff') format('woff');
    font-weight:bold;
    font-style:normal;
}
@font-face {
    font-family: 'montserrat';
    src: url('fuentes/montserrat-bolditalic.woff2') format('woff2'),
		 url('fuentes/montserrat-bolditalic.woff') format('woff');
    font-weight:bold;
    font-style:italic;
}
@font-face {
    font-family: 'montserrat';
    src: url('fuentes/montserrat-light.woff2') format('woff2'),
		 url('fuentes/montserrat-light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat';
    src: url('fuentes/montserrat-lightitalic.woff2') format('woff2'),
		 url('fuentes/montserrat-lightitalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'montserrat';
    src: url('fuentes/montserrat-extralight.woff2') format('woff2'),
		 url('fuentes/montserrat-extralight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat';
    src: url('fuentes/montserrat-extralightitalic.woff2') format('woff2'),
		 url('fuentes/montserrat-extralightitalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}